<html>

<head>
	<title>Edit Rides</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <table border="1" cellpadding="5"> 
            <caption> Editing Ride: </caption>
            <!-- Access data tuple passed from app.py -->
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>

        <div id="edit">
            <!-- form to edit data in bsg_people-->
            <form id="editRide" action="/edit_ride/{{data[0].id}}" method="post">
                <legend><strong>Edit Ride</strong></legend>
                <fieldset>
                    <!-- We can preset form inputs to match attributes currently stored for 'id' of person to be updated via value= and accessing our passed data tuple -->
                    <!-- Create hidden form input to store the passed 'id' of the person we are editing so we can access it easily in our 'POST' method in our app.py -->
                    <input type="hidden" value="{{data[0].ride_id}}" class="form-control" id="ride_id" name="ride_id" required>
                    <label for="ride_id">Ride ID:</label>

                    <input type="text" value="{{data[0].ride_name}}" class="form-control" id="ride_name" name="ride_name" pattern="[A-Za-z]{1,}" required>
                    <label for="ride_name">Ride name:</label>

                    <input type="text" value="{{data[0].height_restriction}}" class="form-control" id="height_restriction" name="height_restriction" pattern="[A-Za-z0-9]{1,}">
                    <label for="height_restriction">Height Restriction:</label>

                    <input type="text" value="{{data[0].lightning_lane}}" class="form-control" id="lightning_lane" name="lightning_lane" pattern="[A-Za-z0-9]{1,}">
                    <label for="lightning_lane">Lightning Lane:</label>

                    <input type="text" value="{{data[0].ride_length}}" class="form-control" id="ride_length" name="ride_length" pattern="[A-Za-z0-9]{1,}">
                    <label for="ride_length">Ride Length:</label>

                    <select class="form-control" id="parks" name="parks" pattern="[0-4]{1}" placeholder="" required> 
                        <!-- Access our parks tuple passed from app.py-->
                        <option value="0">&nbsp;</option>
                        {% for park in parks %}
                                <!-- If the value iterated park matches the value of the park of a ride currently Editing, pre-select that option -->
                                {% if park['park_id'] == data[0].park %}
                                    <option value="{{ park['park_id'] }}" selected> {{park['park_name']}}</option>
                                {% else %}
                                    <option value="{{ park['park_id'] }}"> {{park['park_name']}}</option> 
                                {% endif %}


                        <!-- End of this for loop -->
                        {% endfor %} 
                    </select>	
                        
                
                </fieldset>
                <input type="submit" value="Edit Ride" name="Edit_Ride" class="btn btn-primary" style="margin:.5rem;">
                <a href='/rides'><input class="btn" type="button" value="cancel"></a>
            </form>

</html>
