<html>
<head>
<title>Home Page</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<h1>Home Page</h1>

[ <a href="parks.html">Parks</a> | <a href ='{{ url_for('rides')}}'>Rides</a> | <a href="visitors.html">Visitors</a> | <a href="restaurants.html">Restaurants</a> | <a href="touring_plans.html">Touring Plans</a>  ]

<p>Parks page displays all parks and allows user to insert a new park</p>
<p>Rides page displays all rides and allows user to insert a new ride with a dropdown for park name</p>
<p>Visitors page displays all visitors and allows user to insert a new visitor</p>
<p>Restuarants page displays all restaurants and allows user to insert a new restaurant, update a restaurant, and delete a restaurant.</p>
<p>Touring Plans page displays all touring plans and allows user to insert a new touring plan.</p>
</body>
</html>
