<html>
<!-- Adapted from the people.html UI design -->
<head>
	<title>Rides</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<script language="JavaScript">
	function showform(dowhat) {
		/*
		 * four DIVS: browse, insert, update, delete
		 * this function sets one visible the others not
		 */
		if(dowhat == 'insert') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'update') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'delete') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'block';
		} else if(dowhat == 'all') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'block';
		} else { //by default display browse
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		}
	}

	function newRides() {
		showform('insert');
	}

	function updateRide(ride_id) {
		showform('update');
	}

	function deleteRide(ride_id) {
		showform('delete');
	}

	function browseRide() {
		showform('browse');
	}

	function showAll() {
		showform('all');
	}
	</script>
</head>

<body onload="browseRide()">
	<h1>Rides</h1> [ Parks | <a href="rides">Rides</a> | Restaurants | Touring Plans ]
	<div id="browse">
		<p><a href="#" onClick="newRide()">Add New</a> </p>
		<table border="1" cellpadding="5">
            <!-- Access data tuple passed from app.py --> 
            {% if data %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}
					    
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
					
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

				<tbody>
					<!-- Now, iterate through every item in data -->{% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}

						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{item[key]}} </td> 
                            {% endfor %}

                            <!-- Create our edit/delete buttons -->
						    <td><a href="edit_ride/{{item.id}}" class="btn btn-default">Edit</a></td>
						    <td><a href="delete_ride/{{item.id}}" class="btn btn-default">Delete</a></td>

					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table>   
	<p>&nbsp;</p>
	</div>	<!-- browse -->

	<div id="insert">
		<!-- form to INSERT new data into Rides-->
		<form id="insertRide" action="/rides" method="post">
			<legend><strong>Add Ride</strong></legend>
			<fieldset>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
				<label for="ride_name">ride name:</label>
				<input type="text" class="form-control" id="ride_name" name="ride_name" pattern="[A-Za-z]{1,}" placeholder="" required>

				<label for="height_restriction">height restriction:</label>
				<input type="text" class="form-control" id="height_restriction" name="height_restriction" pattern="[A-Za-z0-9]{1,}" placeholder="">

				<label for="park">park:</label>
				<select class="form-control" id="park" name="park" pattern="[0-4]{1}" placeholder="" required>
				<!-- these are hard coded, but you can add code to make this dynamic -->
					<option value="0">&nbsp;</option>
					<option value="1">Magic Kingdom</option>
					<option value="2">Animal Kingdom</option>
					<option value="3">Epcot</option>
					<option value="3">Disney's Hollywood Studios</option>
				</select>

				<label for="lightning_lane">Lightning Lane:</label>
				<select class="form-control" id="lightning_lane" name="lightning_lane" placeholder="">
					<option value="1">Yes</option>
					<option value="2">No</option>
				</select>	

				<label for="ride_legnth">Ride Length:</label>
				<input type="text" class="form-control" id="ride_legnth" name="ride_legnth" placeholder=""> 
            </fieldset>

            <!-- Create 'Add Ride' and 'Cancel' buttons -->
			<input type="submit" value="Add Ride" name="Add_Ride" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseRides()"> 
        </form>
	</div><!--insert-->
	<div id="edit">
		<!-- form to edit data in Rides-->
		<form id="editRides" action="/edit_rides/{{data[0].id}}" method="post">
			<legend><strong>Edit Ride</strong></legend>
			<fieldset>
				<input type="hidden" value="{{data[0].id}}" class="form-control" id="rideID" name="rideID" required>
				<label for="make">ride name:</label>

				<input type="text" class="form-control" id="ride_name" name="ride_name" pattern="[A-Za-z]{1,}" placeholder="{{data[0].ride_name}}" required>
				<label for="model">height restriction:</label>

				<input type="text" class="form-control" id="height_restriction" name="height_restriction" pattern="[A-Za-z0-9]{1,}" placeholder="{{data[0].height_restriction}}">
				<label for="year">park:</label>

				<select class="form-control" id="park_id" name="park_id" pattern="[0-4]{1}" placeholder="" required>
					<option value="0">&nbsp;</option>
					<option value="1">Magic Kingdom</option>
					<option value="2">Animal Kingdom</option>
					<option value="3">Epcot</option>
					<option value="4">Disney's Hollywood Studios</option>
					<option value="{{data[0].park}}" selected></option>
				</select>

				<label for="color">lightning lane:</label>
				<input type="text" class="form-control" id="lightning_lane" name="lightning_lane" pattern="[0-9]{1,}" placeholder="{{data[0].lightning_lane}}"> 
				
				<label for="color">ride length:</label>
				<input type="text" class="form-control" id="ride_length" name="ride_length" pattern="[0-9]{1,}" placeholder="{{data[0].ride_length}}"> 
				
				</fieldset>
				<input class="btn" type="button" value="Cancel" onClick="browseRides()" style="margin:.5rem;"> 
        </form>
	</div><!--edit-->
</body>
</html>
